@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    If you find any bugs or want to chat with the devs and/or other players, make sure to check out the Discord server!<br />
    <a href="https://discord.gg/TfN3SZh" class="btn btn-primary btn-lg">Discord</a><br />
</address>